{% extends "index.html" %}

{% block content %}
    <br>
    <h2 class="d-flex justify-content-center">Solution:</h2>
    <div class="d-flex justify-content-center">
        <table>
            {% for i in ans %}
                <tr>
                    {% for j in i %}
                        <td style="height: 40px;width: 40px;background-color: rgb(196, 236, 236);">{{j}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/"><button class="btn btn-success" style="color: black;">Solve new puzzle</button></a>
    </div>
{% endblock %}